<h2>Enter your search</h2>

<hr />

<input [formControl]="searchControl" >
<div>
    <button (click)="currentPage = currentPage - 1" [disabled]="currentPage == 1">Previous</button>
    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage == totalPages">Next</button>
</div>

<hr />

<!-- search output from filtered array -->
<!-- <details *ngFor="let product of searchResult | slice:1:10" class="productBox" > -->
<details *ngFor="let product of searchResult.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)" 
    class="productBox" 
    >
    <summary> {{product.title}} </summary>
    <div class="productContent">
        <div>
            <p> Brand: {{product.brand}} </p>
            <p> Price: {{product.price}} </p>
            <p> Productno.: {{product.productno}} </p>
            <p> Color: {{product.color}} </p>
            <p> Size: {{product.size}} </p>
        </div>
        <img src="./assets/circle-loading-gif.webp" class="productImg" alt="a placeholder image">
    </div>
</details>

<hr />

